@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a:link,
a:visited {
    padding: 0px 20px;
    color: rgb(255, 255, 255);
    font-size: 1em;
}


.tittle {
    padding-top: 200px;
    margin-left: 250px;
    font-size: 20px;
    color: aliceblue;
}

.tuno {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tdos {
    font-size: 34px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ttres {
    font-size: 18px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 1, 1, 0)), url(top.jpeg );
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 12.5em;
    margin: 0px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 1, 1, 1)), url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans, serif;
    font-size: 1rem;
}

.titulo {
    color: rgb(255, 255, 255);
    position: absolute;
    width: 500px;
    font-size: 16px;
    margin-left: 250px;
    text-align: center;



}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
    margin-top: 0px;
}

.cuadrouno {
    background-color: rgb(226, 226, 226);
    text-align: center;

}

.cuadrodos {
    background-color: rgb(78, 110, 82);
    text-align: center;
    padding-bottom: 50px;
}

.c_uno {
    padding-top: 50px;
    font-size: 30px;
    stroke: black;
}

.c_dos {
    padding-top: 70px;
    font-size: 20px;
    padding-bottom: 80px
}

.d_uno {
    padding-top: 50px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: bold;
}

.d_dos {
    color: white;

    padding-top: 70px;
    font-size: 20px;
    padding-bottom: 80px;
}



.enlaces {
    display: flex;
    justify-content: center;
}



.form1 {
    background-color: rgb(255, 153, 0);
    width: 450px;
    height: 47px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: center;
    margin-top: 24px;
}


.form2 {
    background-color: rgb(253, 173, 0);
    width: 500px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-align: center;
}

.form3 {
    background-color: rgb(224, 224, 224);
    width: 350px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}

.form4 {
    background-color: rgb(224, 224, 224);
    width: 380px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    margin-right: 8px;
}


.footer-content {
    background-size: cover;
    padding-top: 3.125em;
    display: flex;
    justify-content: space-between;
}

.footer-content div {
    color: aliceblue;
    padding: 1.875em;
}

.footer-content h3 {
    padding-left: 0.9375em;
    margin-top: 40px;
}

.footer-content i {
    font-size: 30px;
}

.footer-content p {
    padding-top: 1.875em;
}


.fa-solid {
    margin-right: 20px;
    font-size: 20px;
    margin-top: 9px;
}